@font-face {
  font-family: "Catamaran";
  font-weight: 900;
  src: local("Catamaran-Black"), 
       url(../fonts/Catamaran-Black.woff2), format("woff2"), 
       url(../fonts/Catamaran-Black.woff), format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Catamaran";
  font-weight: 700;
  src: local("Catamaran-Bold"), 
       url(../fonts/Catamaran-Bold.woff2), format("woff2"), 
       url(../fonts/Catamaran-Bold.woff), format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Muli";
  font-weight: 700;
  src: local("Muli-Bold"), 
       url(../fonts/Muli-Bold.woff2), format("woff2"), 
       url(../fonts/Muli-Bold.woff), format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Muli";
  font-weight: 300;
  src: local("Muli-Light"), 
       url(../fonts/Muli-Light.woff2), format("woff2"), 
       url(../fonts/Muli-Light.woff), format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Muli";
  font-weight: 600;
  src: local("Muli-SemiBold"), 
       url(../fonts/Muli-SemiBold.woff2), format("woff2"), 
       url(../fonts/Muli-SemiBold.woff), format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Muli";
  font-weight: 400;
  src: local("Muli-Regular"), 
       url(../fonts/Muli-Regular.woff2), format("woff2"), 
       url(../fonts/Muli-Regular.woff), format("woff");
  font-display: swap;
}