@media (max-width: 1400px) {
  .header {
    &__title {
      font-size: 175px;
      line-height: 1;
    }
    &__top {
      padding-bottom: 50px;
    }
  }
}
@media (max-width: 1200px) {
  .header {
    &__title {
      font-size: 125px;
      line-height: 1;
      letter-spacing: -5px;
    }
    &__subtitle {
      font-size: 24px;
    }
    &__top {
      padding-bottom: 50px;
    }
    &__text {
      font-size: 18px;
      max-width: 450px;
      padding-top: 45px;
      margin-bottom: 25px;
    }
  }
  .school {
    &__wrapper {
      padding-top: 175px;
      max-width: 700px;
    }
  }
}
@media (max-width: 1100px) {
  .team {
    padding-bottom: 135px;
    &__inner {
      justify-content: center;
    }
    &__item {
      margin: 0 35px 35px;
    }
  }
}

@media (max-width: 960px) {
  .header {
    &__top {
      position: fixed;
      background-image: url(../images/bg-top.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center top;
      z-index: 5;
      padding: 25px 0;
    }
    &__title {
      font-size: 125px;
      letter-spacing: -3px;
    }
    &__text {
      font-size: 16px;
      max-width: 400px;
      padding-top: 20px;
    }
    &__bottom {
      margin-top: 135px;
    }
  }
  .logo,
  .menu__btn {
    z-index: 1;
  }
  .menu {
    width: 100%;
    &__btn {
      display: block;
      margin-right: 15px;
      order: 2;
    }
    &__item + .menu__item {
      margin-left: 0;
    }
    &__item {
      width: 100%;
      text-align: center;
    }
    &__list {
      width: 100%;
      text-align: center;
      display: block;
      order: 1;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      background-image: url(../images/bg-top.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center top;
      transform: translateY(-200%);
      transition: all 0.3s;
    }
    &__list.menu--active {
      transform: translateY(0);
      padding-top: 80px;
    }
    &__link {
      line-height: 1;
      display: block;
      padding: 20px;
    }
  }
  .footer {
    flex-direction: column;
    padding: 0;
  }
  .map__box {
    order: -1;
  }
  #map {
    height: 400px;
  }
}
@media (max-width: 875px) {
  .school {
    &__wrapper {
      padding-top: 100px;
      max-width: 500px;
    }
  }
  .footer {
    &__contact {
      height: auto;
    }
  }
}
@media (max-width: 660px) {
  .header {
    &__title {
      font-size: 75px;
      letter-spacing: 0;
      padding-bottom: 25px;
    }
    &__subtitle {
      font-size: 18px;
    }
    &__btn-link {
      font-size: 14px;
      line-height: 36px;
      padding: 0 20px;
    }
    &__text {
      font-size: 14px;
      max-width: 350px;
      padding-top: 20px;
      line-height: 24px;
    }
  }
  .offer,
  .gallery,
  .team {
    padding: 40px 0;
  }
  .testimonials {
    padding: 80px 0;
  }
  .offer__item {
    margin-bottom: 60px;
  }
  .footer {
    flex-direction: column;
    padding: 0;
    &__phone,
    &__clock,
    &__address,
    &__mail {
      font-size: 14px;
    }
  }
}
@media (max-width: 480px) {
  .header {
    &__title {
      padding-bottom: 0;
      font-size: 50px;
    }
    &__subtitle {
      font-size: 16px;
    }
    &__text {
      max-width: 300px;
    }
    &__wrapper {
      height: 60vh;
    }
  }
  .team {
    &__item {
      margin: 0 auto 35px;
    }
  }
  .school {
    &__title {
      text-align: center;
    }
    &__item {
      width: 100%;
      text-align: center;
    }
  }
}
